.card {
  /*display: grid;*/
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}
.form {
  /*flex-direction: row;*/
  /*display: inline-flex;*/
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /*align-content: center;*/
  /*max-width: 350px;*/
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 1);
  background-color:rgba(255, 255, 255, 1);
}

.name-field {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.chatting-field {
  display: inline-flex;
  flex-direction: row;
}

.video-box{
  /*flex-direction: row;*/
  display: flex;
  justify-content:flex-end;
  margin-left: auto;
  /*position: fixed;*/
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  width: 80%;
  max-width: 350px;
  height: 65%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  position: fixed;
  overflow-y: scroll;
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

@font-face {
  font-family: 'Nanum Gothic';
  src:url('./fonts/NanumGothicLight.otf');
}

@font-face {
  font-family: 'Nanum Myengjo';
  src:url('./fonts/NanumMyeongjo.otf');
}

@font-face {
  font-family: 'Scary';
  src:url('./fonts/DXHmchL-KSCpc-EUC-H.ttf')
}

@font-face {
  font-family: 'Surprice';
  src:url('./fonts/MapoHongdaeFreedom.ttf')
}

@font-face {
  font-family: 'Angry';
  src:url('./fonts/Dokdo-Regular.ttf')
}

@font-face {
  font-family: 'Sad';
  src:url('./fonts/BlackAndWhitePicture-Regular.ttf')
}

@font-face {
  font-family: 'Happy';
  src:url('./fonts/SingleDay-Regular.ttf')
}

.nanum-gothic {
  font-family: "Nanum Gothic", serif;
}